.main {
  width: 1000px;
  height: 500px;
  border: 1px solid red;
  display: flex;
  /* justify-content:space-between; */
align-items:flex-start;
}

img{
    width: 200px;
    height: 200px;
}

.img1{
    align-self: center;
}
.img2{
    align-self:flex-end;
}
.img3{
    align-self: stretch;
}

